<% provide(:title, 'About') %>
<% provide(:description, "Spliddit is a non-for-profit academic endeavor that provides access to fair division methods to share rent, divide goods, assign credit, split fare, and distribute tasks. It was developed at Carnegie Mellon University by Ariel Procaccia and Jonathan Goldman.") %>

<%= render 'layouts/text_banner', locals: { title: "About" } %>

<div class="page-content">
    <div class="wrap">

        <h1>Mission</h1>

        <p class="lead-paragraph">Spliddit is a not-for-profit academic endeavor. Its mission is twofold:</p>
        
        <ul class="steps">
            <li>To provide easy access to carefully designed fair division methods, thereby making the world a bit fairer.</li>
            <li>To communicate to the public the beauty and value of theoretical research in computer science, mathematics, and economics, from an unusual perspective.</li>
        </ul>

        <br>
        <h1>Fairness Guarantees</h1>
        <p>
            When we say that we guarantee a fairness property, we are stating a mathematical fact. In other words, there are formal proofs showing that each of our algorithms provides rigorous fairness guarantees. The surprising possibility of formulating fairness in mathematical terms is the beauty of the scientific field of fair division, and the force behind Spliddit.
        </p>

        <div class="content-block">
            
            <h1>The Team</h1>

            <div style="clear: both;">
                <div class="align-left" style="padding-right:20px">
                    <%= image_tag "about/ariel.jpg", style: "border-radius: 50%;", width: 250, height: 250, alt: "Ariel Procaccia" %>
                </div>
                
                <p>
                    <strong><a target="_blank" href="https://procaccia.info/">Ariel Procaccia</a></strong> is Gordon McKay Professor of Computer Science at <a target="_blank" href="https://www.harvard.edu/">Harvard University</a>. He works on a broad and dynamic set of problems related to AI, algorithms, economics, and society. In addition to Spliddit, he has helped create systems and platforms that are widely used to resettle refugees, mitigate bias in peer review and <a target="_blank" href="https://panelot.org/">select citizens’ assemblies</a>. He is a <a target="_blank" href="https://en.wikipedia.org/wiki/AAAI_Fellow">AAAI Fellow</a> (2024) and a recipient of the <a target="_blank" href="https://scwsociety.org/Prize.html">Social Choice and Welfare Prize</a> (2020), <a target="_blank" href="https://en.wikipedia.org/wiki/Guggenheim_Fellowship">Guggenheim Fellowship</a> (2018), <a target="_blank" href="https://en.wikipedia.org/wiki/IJCAI_Computers_and_Thought_Award">IJCAI Computers and Thought Award</a> (2015), and <a target="_blank" href="https://en.wikipedia.org/wiki/Sloan_Research_Fellowship">Sloan Research Fellowship</a> (2015).
                </p>
            </div>
            <div style="clear: both;">
            <br><br>
                <div class="align-left" style="padding-right:20px">
                    <%= image_tag "about/nisarg.jpg", style: "border-radius: 50%;", width: 250, height: 250, alt: "Nisarg Shah" %>
                </div>
                <p>
                    <strong><a target="_blank" href="https://www.cs.toronto.edu/~nisarg">Nisarg Shah</a></strong> is an Associate Professor in the Department of Computer Science at the <a target="_blank" href="https://www.toronto.edu/">University of Toronto</a>. He works on understanding the impact of algorithmic decision-making on humans, through the lenses of fairness, efficiency, elicitation, and incentives. His distinctions include <a target="_blank" href="https://www.mittrchina.com/news/detail/11294">Innovators Under 35</a> by MIT Technology Review Asia Pacific (2022), <a target="_blank" href="https://ieeexplore.ieee.org/document/9309122">AI's 10 to Watch</a> by IEEE Intelligent Systems (2020), <a target="_blank" href="https://www.aamas-conference.org/award-victorlesser.html">Victor Lesser Distinguished Dissertation Award</a> by IFAAMAS (2016), and a <a target="_blank" href="https://research.fb.com/programs/fellowship/">PhD Fellowship</a> by Facebook (2014-15). 
                </p>
            </div>
            <div style="clear: both;">
            <br><br>
                <div class="align-left" style="padding-right:20px">
                    <%= image_tag "about/soroush.jpg", style: "border-radius: 50%;", width: 250, height: 250, alt: "Soroush Ebadian" %>
                </div>
                <p>
                    <strong><a target="_blank" href="https://ebadian.org/">Soroush Ebadian</a></strong> is a PhD candidate in the Department of Computer Science at the <a target="_blank" href="https://www.toronto.edu/">University of Toronto</a>, supervised by Nisarg. His research sits at the intersection of computer science and economics, studying how to make fair and efficient collective decisions based on individual preferences. He holds an Ontario Graduate Fellowship (2023-24) and was a gold medalist in Iranian National Olympiad in Informatics (2014).
                </p>
            </div>
        </div>
        <div class="content-block">
            <h1>Past Members</h1>

            <div style="clear: both;">
            <br><br>
 
                <div class="align-left" style="padding-right:20px">
                    <%= image_tag "about/lauren.jpg", style: "border-radius: 50%;", width: 250, height: 250, alt: "Lauren Cooke" %>
                </div>
                
                <p>
                    <strong><a target="_blank" href="https://www.linkedin.com/in/lauren-cooke-0bb68a207/">Lauren Cooke</a></strong> is an undergraduate researcher at <a target="_blank" href="https://www.harvard.edu/">Harvard University</a>. She worked with Ariel as a research assistant during the summer of 2023, during which she also helped develop Spliddit. 
                </p>
            </div>

            <div style="clear: both;">
            <br><br>
 
                <div class="align-left" style="padding-right:20px">
                    <%= image_tag "about/jon.jpg", style: "border-radius: 50%;", width: 250, height: 250, alt: "Jonathan Goldman" %>
                </div>
                
                <p>
                    <strong><a target="_blank" href="">Jonathan Goldman</a></strong> received his B.S. in Computer Science from Carnegie Mellon University in 2015. He worked with Ariel as a research assistant from 2012 until his graduation, and developed Spliddit as part of his senior research thesis. Jonathan is currently working for <a target="_blank" href="https://facebook.com">Facebook</a>.
                </p>
            </div>
        </div><!--.content-block-->

        <div class="content-block">

            <h1>Advisor</h1>

            <div class="align-left" style="padding-right:20px">
                <%= image_tag "about/herve.jpg", style: "border-radius: 50%;", width: 250, height: 250, alt: "Herve Moulin" %>
            </div>
            <p>
                <strong><a target = "_blank" href = "https://www.gla.ac.uk/schools/business/staff/hervemoulin/">Hervé Moulin</a></strong> graduated in 1971 from the École Normale Supérieure in Paris, and received his Ph.D. in mathematics from the Université de Paris in 1975.  He has taught at the École Nationale de la Statistique et Administration Économique, University of Paris at Dauphine, Virginia Polytechnic Institute and State University, Duke University and Rice University. He is currently the DJ Robertson Chair in Economics at the University of Glasgow. He has been a Fellow of the Econometric Society since 1983, of the Economic Theory Society since 2012, and of the Royal Society of Edinburgh since 2015. He has written five books and over 100 peer-reviewed articles.
            </p>
        </div>

        <div class="content-block sponsors">
            <h1>Sponsors</h1>
            <a class="no-underline" href = "https://www.nsf.gov/awardsearch/showAward?AWD_ID=1215883" target="_blank">
                <%= image_tag "about/logo-nsf.gif", width: 100, height: 100, alt:"National Science Foundation", style: "max-width: 25%; height: auto" %>
            </a>
            <a class="no-underline" href = "https://aws.amazon.com/grants/" target="_blank">
                <%= image_tag "about/amazon.gif", width: 100, height: 100, alt: "Amazon", style: "max-width: 25%; height: auto" %>
            </a>
            <a class="no-underline" href = "https://taxifarefinder.com/" target="_blank">
                <%= image_tag "about/tff.jpg", width: 117, height: 100, alt: "TaxiFareFinder", style: "max-width: 25%; height: auto" %>
            </a>
        </div><!--.content-block-->

    </div><!--.wrap-->
</div><!--.page-content-->
