<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0;outline:none;margin:0;padding:0;border:none;background-color:#ebebeb" bgcolor="#ebebeb">
      <tbody style="border-spacing:0;border:none;outline:none">
        <tr>
          <td>
            <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#fff;border:0; max-width:616px;margin:0px auto;">
              <tbody>
                <tr style="background-color:#466289">
                  <td style="padding:10px">
                    <img src = "<%= root_url %>assets/shared/logo-mobile.png" height="38px" width="109px" alt="Spliddit">
                  </td>
                </tr>
                <tr>
                  <td style="padding:10px; color: #000000">
                    <p>Hello <%= @agent.name %>,</p>
                    <p>
                      You've been invited to use Spliddit's Distributing Tasks App for <%= @agent.instance.name %>. The below link will ask you to evaluate all of the tasks. No registration is required.
                    </p>
                    <p>
                      <center>
                        <%= link_to "START", assigning_tasks_instance_url(@agent.instance, p: @agent.passcode), only_path: false, style: "display: block; margin: 0 auto; text-align: center; background: #59df72; border: 0; color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; font-size: 1.25em; font-weight: bold; text-decoration: none; padding: 1em; max-width: 100px;" %>
                        <br>
                        <%= link_to assigning_tasks_instance_url(@agent.instance, p: @agent.passcode), assigning_tasks_instance_url(@agent.instance, p: @agent.passcode), only_path: false %>
                      </center>
                    </p>
                    <%= render 'spliddit_info', :locals => {:application => "tasks"} %>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>