<% provide(:title, 'Distribute Tasks') %>
<% provide(:description, "Spliddit's tasks calculator fairly divides household chores, work shifts at a hospital, or any other set of tasks.") %>

<%= render 'banner' %>

<div class="page-content">
    <div class="wrap">
        <p>Spliddit's tasks calculator fairly divides household chores, work shifts at a hospital, or any other set of tasks. You begin by providing a list of tasks that you wish to assign (for example, morning shift, afternoon shift, night shift) and a list of participants. We then send the participants links where they specify how much they prefer each task relative to the others. Our algorithm uses these evaluations to propose a fair division of the tasks among the participants.</p>

        <div class="start-bar">
            <p style="text-align:center">
                <a class="btn" href="<%= root_url + 'apps/tasks/demo' %>" style="display:inline;margin:.5em">Live Demo</a>
                <a class="btn" href="<%= new_assigning_tasks_instance_path %>" style="display:inline;margin:.5em">Start <span>&raquo;</span></a>
            </p>
        </div><!--.start-bar-->  
    
        <h1>Fairness Properties</h1>

        <div class="content-block" id="envy-free">
        
            <div class="align-right">

                <h2 class="mobile">Envy-freeness</h2>
                
                <div class="family-circle run-animation" id="test">
                    <div class="family">
                        <%= image_tag "itemshift/family.png", width: 241, height: 253, class: "bodies" %>
                        <%= image_tag "itemshift/smiles.png", width: 181, height: 155, class: "smiles" %>
                        <%= image_tag "itemshift/frowns.png", width: 181, height: 149, class: "frowns" %>
                        <%= image_tag "itemshift/football.png", width: 67, height: 36, class: "football" %>
                        <%= image_tag "itemshift/bottle.png", width: 31, height: 57, class: "bottle" %>
                        <%= image_tag "itemshift/purse.png", width: 59, height: 59, class: "purse" %>
                    </div><!--.family-->
                </div><!--.circle-->
                <p class="refresh items"><a href="#" title="Replay">refresh</a></p>
            
            </div><!--.align-right-->

            <div class="property-info left">

                <h2 class="desktop">Envy-freeness</h2>

                <p>A division of tasks is envy free if each participant believes that her workload is at most as much as that of every other participant, i.e., no participant envies any other participant. While our algorithm may often find an envy-free division, no algorithm can guarantee one.</p>

                <p>Our algorithm guarantees a division that is envy free up to one task: A participant would never envy another participant if we removed a single task assigned to them.</p>
            </div>

        </div><!--.content-block-->

        <div class="content-block last" id="efficient">

            <div class="align-left">

                <h2 class="mobile">Efficiency</h2>

                <div class="family-circle-2">
                    <div class="family-2">
                        <%= image_tag "itemshift/family-2.png", width: 241, height: 253, class: "bodies" %>
                        <%= image_tag "itemshift/baby-eyes1.png", width: 181, height: 155, class: "baby-eyes1" %>
                        <%= image_tag "itemshift/baby-eyes2.png", width: 181, height: 149, class: "baby-eyes2" %>
                        <%= image_tag "itemshift/lady-smile.png", width: 67, height: 36, class: "lady-smile" %>
                        <%= image_tag "itemshift/lady-frown.png", width: 31, height: 57, class: "lady-frown" %>
                        <%= image_tag "itemshift/football.png", width: 67, height: 36, class: "football-2" %>
                        <%= image_tag "itemshift/bottle.png", width: 31, height: 57, class: "bottle-2" %>
                        <%= image_tag "itemshift/purse.png", width: 59, height: 59, class: "purse-2" %>
                    </div><!--.family-->
                </div><!--.circle-->
                <p class="refresh effic"><a href="#" title="Replay">refresh</a></p>
            
            </div><!--.align-left-->
            
            <div class="property-info right">

                <h2 class="desktop">Efficiency</h2>
                <p>Our algorithm assigns the tasks in such a way that it would be impossible to find another assignment that benefits one participant without making another worse off.</p>
            
            </div><!--.property-info.right-->
            
        </div><!--.content-block-->

        <div class="start-bar">
            <p style="text-align:center">
                <a class="btn" href="<%= root_url + 'apps/tasks/demo' %>" style="display:inline;margin:.5em">Live Demo</a>
                <a class="btn" href="<%= new_assigning_tasks_instance_path %>" style="display:inline;margin:.5em">Start <span>&raquo;</span></a>
            </p>
        </div><!--.start-bar-->  

        <a name="overview"></a>
        <h1>Algorithm Overview</h1>
        <p>We assume that the total (perceived) workload of a participant is the sum of their (perceived) workloads for their assigned tasks. Our algorithm is based on computing a <a target="_blank" href="https://en.wikipedia.org/wiki/Fisher_market">Fisher market equilibrium</a> to find a division of tasks. This division has been proven to be <a href="#envy-free">envy free up to one task</a> and <a href="#efficient">efficient</a> when each participant views some tasks as (equally) difficult and others as (equally) easy, and conjectured to satisfy these guarantees for any preferences that the participants may provide.</p>

        <p><strong>Reference:</strong> <a target="_blank" href="https://arxiv.org/abs/2110.11285">"How to Fairly Allocate Easy and Difficult Chores"</a>, by Soroush Ebadian, Dominik Peters, and Nisarg Shah.</p>

        <div class="start-bar">
            <p style="text-align:center">
                <a class="btn" href="<%= root_url + 'apps/tasks/demo' %>" style="display:inline;margin:.5em">Live Demo</a>
                <a class="btn" href="<%= new_assigning_tasks_instance_path %>" style="display:inline;margin:.5em">Start <span>&raquo;</span></a>
            </p>
        </div><!--.start-bar-->  

    </div><!--.wrap-->
</div><!--.page-content-->
