<p class="lead-paragraph">Here are the results from the <%= link_to "Dividing Goods App", root_url + 'apps/goods' %>. Thank you for using Spliddit!</p>

<table class = "table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Items</td>
    </tr>
  </thead>
  <tbody>
    <% @instance.agents.each do |agent| %>
      <tr>
        <td><%= agent.name %></td>
        <td>
          <p style="margin-top:15px;margin-bottom:15px">
            <% agent.assignments.select {|a| a.ownership > 0}.each do |a| %>
              <% if a.ownership == 1 %>
                <%= a.resource.name %><br>
              <% else %>
                <%= a.resource.name %> (<%= sprintf "%.2f%", (a.ownership*100) %>)<br>
              <% end %>
            <% end %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>