<% provide(:title, 'Divide Goods') %>
<% provide(:description, "Spliddit's goods calculator fairly divides jewelry, artworks, electronics, toys, furniture, financial assets, or even an entire estate between two or more people.") %>

<%= render 'banner' %>

<div class="page-content">
    <div class="wrap">
        <p>Spliddit's goods calculator fairly divides jewelry, artworks, electronics, toys, furniture, financial assets, or even an entire estate between two or more people. You begin by providing a list of items that you wish to divide and a list of recipients. We then send the recipients links where they specify how much they believe each item is worth. Our algorithm uses these evaluations to propose a fair division of the items among the recipients.</p>

        <div class="start-bar">
            <p style="text-align:center">
                <a class="btn" href="<%= root_url + 'apps/goods/demo' %>" style="display:inline;margin:.5em">Live Demo</a>
                <a class="btn" href="<%= new_dividing_goods_instance_path %>" style="display:inline;margin:.5em">Start <span>&raquo;</span></a>
            </p>
        </div><!--.start-bar-->  
    
        <h1>Fairness Properties</h1>
                
<!--         <div class="content-block" id="max-share">

            <div class="align-right">

                <h2 class="mobile">Maximin share</h2>

                <div class="cake-circle">
                    <%= image_tag "cake/ppl-plate.png", width: 245, height: 244, class: "ppl-plate" %>
                    <%= image_tag "cake/cake.png", width: 112, height: 62, class: "cake-full" %>
                    <%= image_tag "cake/knife-slice.png", width: 135, height: 109, class: "knife-slice" %>
                    <%= image_tag "cake/yaaaycake1.png", width: 73, height: 58, class: "yaaaycake1" %>
                    <%= image_tag "cake/yaaaycake2.png", width: 98, height: 71, class: "yaaaycake2" %>
                </div>.circle
                <p class="refresh cake"><a href="#" title="Replay">refresh</a></p>
            
            </div>

            <div class="property-info left">

                <h2 class="desktop">Maximin share</h2>
                <p>A participant's maximin share is the amount of value she could guarantee if she were to divide the goods into bundles herself, and then other participants were allowed to choose their bundle before her.</p>
                <p>We guarantee each participant at least two thirds of her maximin share. In practice, it is extremely likely that each participant will receive at least her full maximin share.</p>
            
            </div>

        </div> --><!--.content-block-->

        <div class="content-block" id="envy-free">
        
            <div class="align-right">

                <h2 class="mobile">Envy-freeness</h2>
                
                <div class="family-circle run-animation" id="test">
                    <div class="family">
                        <%= image_tag "itemshift/family.png", width: 241, height: 253, class: "bodies" %>
                        <%= image_tag "itemshift/smiles.png", width: 181, height: 155, class: "smiles" %>
                        <%= image_tag "itemshift/frowns.png", width: 181, height: 149, class: "frowns" %>
                        <%= image_tag "itemshift/football.png", width: 67, height: 36, class: "football" %>
                        <%= image_tag "itemshift/bottle.png", width: 31, height: 57, class: "bottle" %>
                        <%= image_tag "itemshift/purse.png", width: 59, height: 59, class: "purse" %>
                    </div><!--.family-->
                </div><!--.circle-->
                <p class="refresh items"><a href="#" title="Replay">refresh</a></p>
            
            </div><!--.align-right-->

            <div class="property-info left">

                <h2 class="desktop">Envy-freeness</h2>

                <p>A division of goods is envy free if each participant believes that her bundle of goods is at least as valuable as every other participant's bundle, i.e., no participant envies any other participant. While our algorithm may often find an envy-free division, no algorithm can guarantee one.</p>

                <p>Our algorithm guarantees a division that is envy free up to one good: A participant would never envy another participant if we removed a single good from the other participant's bundle. In fact, if the contested good is divisible, in the sense that it can be broken down into smaller pieces (e.g., cash, stocks), then we could eliminate envy by removing a hundredth (1%) of it.</p>
            </div>

        </div><!--.content-block-->

        <div class="content-block last" id="efficient">

            <div class="align-left">

                <h2 class="mobile">Efficiency</h2>

                <div class="family-circle-2">
                    <div class="family-2">
                        <%= image_tag "itemshift/family-2.png", width: 241, height: 253, class: "bodies" %>
                        <%= image_tag "itemshift/baby-eyes1.png", width: 181, height: 155, class: "baby-eyes1" %>
                        <%= image_tag "itemshift/baby-eyes2.png", width: 181, height: 149, class: "baby-eyes2" %>
                        <%= image_tag "itemshift/lady-smile.png", width: 67, height: 36, class: "lady-smile" %>
                        <%= image_tag "itemshift/lady-frown.png", width: 31, height: 57, class: "lady-frown" %>
                        <%= image_tag "itemshift/football.png", width: 67, height: 36, class: "football-2" %>
                        <%= image_tag "itemshift/bottle.png", width: 31, height: 57, class: "bottle-2" %>
                        <%= image_tag "itemshift/purse.png", width: 59, height: 59, class: "purse-2" %>
                    </div><!--.family-->
                </div><!--.circle-->
                <p class="refresh effic"><a href="#" title="Replay">refresh</a></p>
            
            </div><!--.align-left-->
            
            <div class="property-info right">

                <h2 class="desktop">Efficiency</h2>
                <p>Our algorithm divides the goods in such a way that it would be impossible to find another division that benefits a participant without making another participant worse off.</p>
            
            </div><!--.property-info.right-->
            
        </div><!--.content-block-->

        <div class="start-bar">
            <p style="text-align:center">
                <a class="btn" href="<%= root_url + 'apps/goods/demo' %>" style="display:inline;margin:.5em">Live Demo</a>
                <a class="btn" href="<%= new_dividing_goods_instance_path %>" style="display:inline;margin:.5em">Start <span>&raquo;</span></a>
            </p>
        </div><!--.start-bar-->  


        <h1>Algorithm Overview</h1>
        <p>We assume that the value a participant derives from a bundle of goods is the sum of points the participant assigns to individual goods in the bundle. Our algorithm then finds the division of goods into bundles that maximizes the product of values derived by participants. The optimization problem is formulated as a <a target="_blank" href="http://en.wikipedia.org/wiki/Integer_programming#Variants">mixed integer linear program</a>. <!--and solved via <a target="_blank" href="http://en.wikipedia.org/wiki/CPLEX">CPLEX</a>.-->This division is guaranteed to be <a href="#envy-free">envy free up to one good</a> and <a href="#efficient">efficient</a>, and provably satisfies other approximate fairness guarantees.</p>

        <p><strong>Reference:</strong> <a target="_blank" href="http://www.cs.cmu.edu/~arielpro/papers/mnw.pdf">"The Unreasonable Fairness of Maximum Nash Welfare"</a>, by Ioannis Caragiannis, David Kurokawa, Hervé Moulin, Ariel D. Procaccia, Nisarg Shah, and Junxing Wang.</p>
 
        <div class="start-bar">
            <p style="text-align:center">
                <a class="btn" href="<%= root_url + 'apps/goods/demo' %>" style="display:inline;margin:.5em">Live Demo</a>
                <a class="btn" href="<%= new_dividing_goods_instance_path %>" style="display:inline;margin:.5em">Start <span>&raquo;</span></a>
            </p>
        </div><!--.start-bar-->  

    </div><!--.wrap-->
</div><!--.page-content-->